<footer class="page__footer footer">
 <div class="container">
  <div class="footer__container">
   <nav class="footer__nav">
    <ul class="footer__nav-list">
     <li class="footer__nav-item">
      <a href="#" class="footer__nav-link">О нас</a>
     </li>
     <li class="footer__nav-item">
      <a href="#" class="footer__nav-link">Преимущества</a>
     </li>
     <li class="footer__nav-item">
      <a href="#" class="footer__nav-link">Связаться с нами</a>
     </li>
    </ul>
   </nav>
   <div class="footer__main">
    <div class="footer__row">
     <a href="#" class="footer__logo logo">HOMEDREAM</a>
     <address class="footer__social">
      <a href="#" class="footer__social-link">
       <img class="footer__social-link-icon" src=" " alt="">
      </a>
      <a href="#" class="footer__social-link">
       <img class="footer__social-link-icon" src=" " alt="">
      </a>
      <a href="#" class="footer__social-link">
       <img class="footer__social-link-icon" src=" " alt="">
      </a>
      <a href="#" class="footer__social-link">
       <img class="footer__social-link-icon" src=" " alt="">
      </a>
      <a href="#" class="footer__social-link">
       <img class="footer__social-link-icon" src=" " alt="">
      </a>
      <a href="#" class="footer__social-link">
       <img class="footer__social-link-icon" src=" " alt="">
      </a>
     </address>
     <a href="#" class="footer__order btn">Закажите сейчас</a>
    </div>
    <div class="footer__row">
     <span class="footer__text m-copyright">© 2024, Copyright.</span>
     <a href="#" class="footer__text m-link">Privacy policy</a>
     <a href="#" class="footer__text m-link">Terms of Use</a>
    </div>
   </div>
  </div>
 </div>
</footer>