<footer class="page__footer footer">
 <div data-anime class="footer__container">
  <nav class="footer__nav">
   <div class="container">
    <ul class="footer__nav-list">
     <li class="footer__nav-item">
      <a href="#about" class="footer__nav-link">О нас</a>
     </li>
     <li class="footer__nav-item">
      <a href="#benefits" class="footer__nav-link">Преимущества</a>
     </li>
     <li class="footer__nav-item">
      <a href="#contacts" class="footer__nav-link">Связаться с нами</a>
     </li>
    </ul>
   </div>
  </nav>
  <div class="container">
   <div class="footer__main">
    <div class="footer__row m-first">
     <a href="#" class="footer__logo logo">HOMEDREAM</a>
     <address class="footer__social">
      <a href="#" class="footer__social-link">
       <img class="footer__social-link-icon" src="/src/img/svg/sprite.svg#social-1" alt="">
      </a>
      <a href="#" class="footer__social-link">
       <img class="footer__social-link-icon" src="/src/img/svg/sprite.svg#social-2" alt="">
      </a>
      <a href="#" class="footer__social-link">
       <img class="footer__social-link-icon" src="/src/img/svg/sprite.svg#social-3" alt="">
      </a>
      <a href="#" class="footer__social-link">
       <img class="footer__social-link-icon" src="/src/img/svg/sprite.svg#social-4" alt="">
      </a>
      <a href="#" class="footer__social-link">
       <img class="footer__social-link-icon" src="/src/img/svg/sprite.svg#social-5" alt="">
      </a>
      <a href="#" class="footer__social-link">
       <img class="footer__social-link-icon" src="/src/img/svg/sprite.svg#social-6" alt="">
      </a>
     </address>
     <a href="#contacts" class="footer__order btn">Заказать</a>
    </div>
    <div class="footer__row m-second">
     <span class="footer__text m-copyright">© 2024, Copyright.</span>
     <a href="#" class="footer__text m-link">Privacy policy</a>
     <a href="#" class="footer__text m-link">Terms of Use</a>
    </div>
   </div>
  </div>
 </div>
</footer>